<!DOCTYPE HTML>
<html>
    <%- partial('_partial/head') %>
    <body>
        <div class="main-container">
            <div class="alignleft main-left-side">
                <div class="slides" id="about">
                    <img class="photo" src="img/page/photo.png">
                    <div class="info">
                        <div class="name">P.T</div>
                        <div class="subtitle">前端及游戏开发爱好者</div>
                        <div class="describe">
                            <p>一个程序媛, 半个学霸</p>
                            <p>奶牛小喵的主人, 主机游戏爱好者, 甜点烘培熟练工, 一天不跑步不舒服星人, 目前正在受苦《黑暗之魂3》</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alignright main-right-side"><%- body %></div>
            <div class="clearfix"></div>
        </div>
        <!--<div id="content" class="inner">-->
            <!--<div id="main-col"><div id="wrapper"></div></div>-->
            <!--<div class="clearfix"></div>-->
        <!--</div>-->
    </body>
</html>
